.main {
  background-color: cadetblue;
  height: 100%;

  .nav {
    display: flex;
  }

  .nav-item {
    flex: 1;
    text-align: center;
    border: solid 1px white;
    text-decoration: none;
    padding: 20px;
    background-color: grey;
    font-weight: bold;

    color: white;

    &.active {
      background-color: black;
    }
  }
}
